[Unit]
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStartPre=/usr/bin/docker rm -f ide-for-shynur
ExecStartPre=/bin/bash -c "if ! docker images --format table | egrep '^([^[:blank:]]+/)?shynur/ide[[:blank:]]'; then docker pull docker.cnb.cool/shynur/ide; fi"
ExecStart=/usr/bin/docker run -d -p 22222:22 -p 28080:80 --name ide-for-shynur    -v /etc/shynur-ide/:/etc/shynur-ide/:ro    -v /home/shynur/.git-credentials:/root/.git-credentials    -v /home/shynur/.ssh/:/root/.ssh/    -v /home/shynur/.bash_history:/root/.bash_history    -v /home/shynur/.cache/:/root/.cache/    -v /home/shynur/.conan2/p/:/root/.conan2/p/    -v /home/shynur/ws/:/root/ws/    docker.cnb.cool/shynur/ide /usr/sbin/sshd -D
ExecStartPost=/bin/bash -c 'sleep 15; echo shynur-ide.service: container started successfully | tee /dev/console'
ExecStartPost=/bin/bash -c 'while true; do docker pull docker.cnb.cool/shynur/ide && echo shynur-ide.service: pull done | tee /dev/console; docker image prune -f; tmp_file="$(mktemp /tmp/shynur-ide.service.new.XXXXXX)"; trap "rm -f \"$tmp_file\"" EXIT; if curl --proto "=https" --tlsv1.2 --fail --show-error --silent --location https://raw.githubusercontent.com/shynur/ide/trunk/shynur-ide.service >"$tmp_file"; then if systemd-analyze verify "$tmp_file" >/dev/null 2>&1 && ! cmp -s "$tmp_file" /etc/systemd/system/shynur-ide.service; then install -m 0644 "$tmp_file" /etc/systemd/system/shynur-ide.service; systemctl daemon-reload; echo shynur-ide.service: self-update from GitHub done, restarting | tee /dev/console; systemctl restart shynur-ide.service; exit 0; fi; else echo shynur-ide.service: self-update fetch from GitHub failed | tee /dev/console; fi; rm -f "$tmp_file"; trap - EXIT; sleep 6h; done'
ExecStop=/usr/bin/docker image prune -f

[Install]
WantedBy=multi-user.target
