[Unit]
Description=挖矿
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/xmrig -a gr -o stratum+tcp://ghostrider.unmineable.com:3333 -u shynur996.sgp1 -p x

Restart=always
RestartSec=10

Nice=19
CPUSchedulingPolicy=idle
IOSchedulingClass=3

User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
